In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/mnt/data-artemis/kshitij/TEMP/Speaker-recognition/DSU_creation/VCTK/final_data_vctk/train.csv")
df.head()

,Unnamed: 0,file,text,speaker_id,DSU
0,0,/mnt/data-poseidon/kshitij/Speaker-recognition...,it's a way of life,p229,1386 1416 443 374 152 796 246 7 7 299 299 299 ...
1,1,/mnt/data-poseidon/kshitij/Speaker-recognition...,he said the matter had been neglected in the past,p229,1384 1522 1522 1445 152 868 1369 1369 1369 136...
2,2,/mnt/data-poseidon/kshitij/Speaker-recognition...,the work between the musicians and the fire is...,p229,789 1522 65 1445 1879 1879 868 137 1095 1517 1...
3,3,/mnt/data-poseidon/kshitij/Speaker-recognition...,it should be an enjoyable and challenging peri...,p229,1384 775 65 1445 1879 152 868 1369 246 1369 10...
4,4,/mnt/data-poseidon/kshitij/Speaker-recognition...,i have every confidence in raymond robertson a...,p229,789 1522 1522 152 152 152 1369 1369 1369 1369 ...

In [3]:

df['label'] = pd.Categorical(df['speaker_id']).codes

,Unnamed: 0,file,text,speaker_id,DSU,label
0,0,/mnt/data-poseidon/kshitij/Speaker-recognition...,it's a way of life,p229,1386 1416 443 374 152 796 246 7 7 299 299 299 ...,0
1,1,/mnt/data-poseidon/kshitij/Speaker-recognition...,he said the matter had been neglected in the past,p229,1384 1522 1522 1445 152 868 1369 1369 1369 136...,0
2,2,/mnt/data-poseidon/kshitij/Speaker-recognition...,the work between the musicians and the fire is...,p229,789 1522 65 1445 1879 1879 868 137 1095 1517 1...,0
3,3,/mnt/data-poseidon/kshitij/Speaker-recognition...,it should be an enjoyable and challenging peri...,p229,1384 775 65 1445 1879 152 868 1369 246 1369 10...,0
4,4,/mnt/data-poseidon/kshitij/Speaker-recognition...,i have every confidence in raymond robertson a...,p229,789 1522 1522 152 152 152 1369 1369 1369 1369 ...,0
...,...,...,...,...,...,...
10045,10045,/mnt/data-poseidon/kshitij/Speaker-recognition...,she can scoop these things into three red bags...,p288,1384 775 65 1445 1879 868 1095 1095 14 14 1741...,29
10046,10046,/mnt/data-poseidon/kshitij/Speaker-recognition...,"if people are genuine, then the problem is not...",p288,789 1522 1522 300 300 300 975 1369 1643 1095 4...,29
10047,10047,/mnt/data-poseidon/kshitij/Speaker-recognition...,nothing is yet confirmed,p288,1384 775 65 1445 1879 796 868 137 137 1095 408...,29
10048,10048,/mnt/data-poseidon/kshitij/Speaker-recognition...,this gives a financial incentive to switch,p288,1384 775 65 374 1445 868 868 246 862 14 1741 1...,29
10049,10049,/mnt/data-poseidon/kshitij/Speaker-recognition...,our numbers are small,p288,1386 1416 443 374 796 436 7 7 7 299 7 1211 436...,29